header{
    color: white;
    margin-top:-9px ;
    margin-left: -9px ;
    background-color: black;
    text-align:start;
}
a{
    text-decoration: none;
    color: white;
}

main{
    height: 80%;
}
footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}
.card {
    max-width: 30%;
    height: 50%;
    border: 5px solid black;
    border-radius: 25px;
    text-align: center;
    padding: 10px;
}
.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.col {
    flex: 1;
    text-align: center;
}

h2{
    margin-left: 5px;
    margin-top: 0px;
}
h3 {
    margin-left: 5px;
    margin-top: 0px;
}